<div class="container">
  <div class="row">
    <div class="col-sm" style="width: 100%">
      <h1></h1>
    </div>
    <div style="width: 100%">
    </div>
    <table id="found">
      <tr>
        <th colspan="2"><h2>Visionäre</h2></th>
        <th></th>
      </tr>
      <br>
      <tr>
        <td style="width: 50%">
          <h4>CEO - Maximilian von Hohenbühel</h4>
        </td>
        <td style="width: 50%">
          <h4>CFO - Alex Moroder</h4>
        </td>
      </tr>
      <tr>
        <td>Backend-Programmierer, Founder</td>
        <td>Frontend-Programmierer, Founder</td>
      </tr>
      <br><br><br>
      <tr style="margin-top: 50px">
        <th colspan="2"><h2>Impressum</h2></th>
        <th></th>
      </tr>
      <br>
      <tr>
        <td>maximilian.vonhohenbuehel@tfobz.net</td>
        <td>alex.moroder@tfobz.net</td>
      </tr>
    </table>
  </div>
  <div id="header-content">
    <table>
      <tr>
        <td>
          <img src="assets/images/mariadb.png" alt="">
        </td>
        <td>
          <img src="assets/images/index.jpg" alt="">
        </td>
        <td>
          <img src="assets/images/angular_bootstrap.jpg" alt="">
        </td>
        <td>
          <img src="assets/images/node_express.jpg" alt="">
        </td>
      </tr>
    </table>
  </div>
</div>
